---
import "../styles/productCard.css";
import Button from "../components/button.astro";

const { product } = Astro.props;
---

<div class="productCard">
  <div class="thumbnail" style={`background: url(${product.image}) center; background-size: cover;   background-repeat: no-repeat;`}>
    {
      product.stock && (
        <div class="ribbon">
          <div class="stock">Isi {product.stock}pcs</div>
        </div>
      )
    }
    <div class="price">Rp{product.price.toLocaleString("id-ID")}</div>
  </div>
  <div class="data">
    <div class="title">{product.name}</div>
    <div class="description">
      {product.description}
    </div>
  </div>
  <div class="action">
    <Button
      style="addtocart block"
      data-id={product.id}
      data-name={product.name}
      data-price={product.price}  
      data-image={product.image}
      >Mau yang ini</Button
    >
  </div>
</div>
